@import url('https://fonts.googleapis.com/css2? family= Anuphan:wght@100;200;300;400;500;600;700 & display=swap');

body{
background-color: #ffff;
margin: 0;
padding: 0;
font-family: 'Anuphan','sans serif';
box-sizing: border-box;
}

.container{
    background-color: chocolate;
     width: 100%;
}
.navigation
{
height: 70px;
margin-top: 20px;
}
nav ul{
    text-align: left;
    color:rgb(170, 23, 23);
    
    }
ul a{

    color: #fff;
    letter-spacing: 0.4rem;
}
ul a:hover{
color: rgb(15, 15, 15);
text-decoration-line: underline;

}
.liste{
float: left;
padding: 15px;

}
button{
    float: right;
    padding: 15px;
    letter-spacing: 0.1rem;
    height: 25px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: auto;

}
button:hover{
background: #b87106;}
.wrapper{
margin: 150px auto;
width: left;
margin-right: 20px;
}
img{
max-width: 320px;
float: right;
border:  4px solid ;
border-radius: 10px;
margin-right: 250px;
}
.Text-box{
 font-size: 20px;
}

.main-content__btn{
width: 25%;
border: 1px;
border-radius: 4px;
padding:2%  4%;
vertical-align: middle;
font-size: 1.25rem;
}
.main-content__btn:hover{
background: #131312;
}